<body>

<p class="p-cls"><b><i>Hotel-details works!</i> </b> </p>

<button class="btn1" mat-raised-button color="accent" (click)="back()"> Back </button>

<div class="div">

  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="inputBoxValue">
  </mat-form-field>
  
</div>

<div class="div2">
  <table >
    <tr>
      <th *ngFor="let heading of tableHeadings"> {{heading}} </th>
      <th *ngIf="endpoint == 'admin'">Delete</th>
      <th *ngIf="endpoint == 'admin'">Edit</th>
    </tr>

    <tr  *ngFor="let hotelData of hotelDetails | search:inputBoxValue ">
      <td>{{hotelData.hotelName}}</td>
      <td>{{hotelData.ownerName}}</td>
      <td>{{hotelData.hotelContactNo}}</td>
      <td>{{hotelData.hotelAddress}}</td>
      <td>{{hotelData.hotelEmail}}</td>
      <td>{{hotelData.totalRooms}}</td>
      <td>{{hotelData.speciality}}</td>
      <!-- <td *ngIf="endpoint =='admin'"> <i class="i-cls" (click)="delete (hotelData.id)"></i> delete </td> -->
      <td ><i class="material-icons" (click)="delete(hotelData.id)">delete</i> </td>
      <td ><i class="material-icons" (click)="edit(hotelData.id)">edit</i> </td>



    </tr>
  </table>

</div>


