body {
  // background-image: url("~/src/assets/images/Grand-Resort-owner.jpg");
  background-color: mediumturquoise;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-cls {
  color: black;
}

table,th,tr,td {
  border: 1px solid rgb(8, 182, 245);
  background-color: whitesmoke;
  color: brown;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  padding: 10px 50px;

}

table,
th,
tr,
td:hover {
  border: 2px solid rgb(245, 8, 107);
  background-color: black;
  color: brown;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  padding: 10px 50px;
  cursor: pointer;

}
.div {
  margin: auto;
  text-align: center;
  position: relative;
  top: 30px;
}

.div:hover {
  color: aqua;
  // background-color: black;
  padding: 10px 10px;
}

.div2 {
  position: relative;
  top: 60px;
}

.div2:hover{
  position: relative;
  top: 60px;
color: blue;
}

.btn1:hover {
  color: aqua;
  background-color: black;
  font-size: larger;
}

input:hover{
  background-color: black;
}
