<body>

  <p>user-sign-in works!</p>

  <button class="btn1" mat-raised-button color="alert" (click)="back()">Back</button>

  <form class="loginform" [formGroup]="usersignIn">

    <h2>Login Form </h2>

    <mat-form-field>
      <mat-label>UserName</mat-label>
      <input matInput formControlName="name" autocomplete="on">
      <mat-error *ngIf="usersignIn.get('name')?.touched && usersignIn.get('name')?.errors?.['required']">Name is
        Required</mat-error>
      <mat-error *ngIf="usersignIn.get('name')?.errors?.['minlength']">minimun 2 charactors Required</mat-error>
      <mat-error *ngIf="usersignIn.get('name')?.errors?.['pattern']">Please Enter Alphabets Only</mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="usersignIn.get('password')?.touched && usersignIn.get('password')?.errors?.['required']">Please
        Enter Password</mat-error>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" [disabled]="usersignIn.invalid" (click)="submit()">Submit</button><br>
    <a class="signup" routerLink="/signUp">Not Have an Account Click Here</a>
