

<p class="p-cls">Hotel-registration works!</p>

<button mat-raised-button color="warn" routerLink="/owner/ownerlogin">Back</button>

<button mat-raised-button color="accent"  (click)="back()" >Back Click</button>

<div>
    <div class="">

        <div class="">

              <div class="">

                   <div class="">

                    </div>

                    <form [formGroup]="hotelRegistrationForm" >
                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Owner Name">Owner Name :</mat-label>
                          <input class="" matInput type="text" formControlName="Owner Name" placeholder="Owner Name" >
                          <mat-icon matSuffix >person_outline</mat-icon>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('ownername')?.touched && hotelRegistrationForm.get('ownername')?.errors?.['required']" >This field is mandatory</mat-error>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('ownername')?.errors?.['minilength']" >Minimum 5 charactors acceptable</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Type of Applicant" >Type of Applicant :</mat-label>
                          <mat-radio-group formControlName="typeofapplicant" >
                            <mat-radio-button value="individual ownership" > <span class="span">Individual Ownership</span></mat-radio-button>
                            <mat-radio-button value="company" ><span class="span">Company</span></mat-radio-button>
                            <mat-radio-button value="partnership"><span class="span">Partnership</span></mat-radio-button>
                          </mat-radio-group>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Hotel Name">Hotel Name :</mat-label>
                          <input class=""matInput type="text" formControlName="hotelname" placeholder="Hotel Name">
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('hotelname')?.touched && hotelRegistrationForm.get('hotelname')?.errors?.['required']" >This is compulsory</mat-error>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('hotelname')?.errors?.['minilength']" >Minimum 5 charactors acceptable</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Hotel Contact Nobr">Hotel Contact Nobr :</mat-label>
                          <input class="" matInput type="text" formControlName="hotelcontactnobr" placeholder="Hotel Contact Nobr">
                          <mat-icon matSuffix >smartphone</mat-icon>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('hotelcontactnobr')?.touched && hotelRegistrationForm.get('hotelcontactnobr')?.errors?.['required']">This is compulsory</mat-error>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('hotelcontactnobr')?.errors?.['maxlength']">Maximum 10 digits allow</mat-error>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('hotelcontactnobr')?.errors?.['pattern']">Please enter valid format</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Hotel Address">Hotel Address :</mat-label>
                          <textarea matInput formControlName="hoteladdress" placeholder="Hotel Address" ></textarea>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('hoteladdress')?.touched && hotelRegistrationForm.get('hoteladdress')?.errors?.['required']">This is compulsory</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="City">City :</mat-label>
                          <mat-select>
                            <mat-option value="Banglore">Banglore</mat-option>
                            <mat-option value="Pune">Pune</mat-option>
                            <mat-option value="Mumbai">Mumbai</mat-option>
                            <mat-option value="Nashik">Nashik</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Pancard Nobr">Pancard Nobr :</mat-label>
                          <input matInput type="text" formControlName="pancardnobr" placeholder="Pancard Nobr">
                          <mat-hint *ngIf="hotelRegistrationForm.get('pancardnobr')?.touched && hotelRegistrationForm.get('pancardnobr')?.errors?.['required']">This is compulsory</mat-hint>
                          <mat-hint *ngIf="hotelRegistrationForm.get('pancardnobr')?.errors?.['pattern']">Please enter valid format</mat-hint>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Star Rating">Star Rating :</mat-label>
                          <mat-select formControlName="starrating">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Number of Rooms">Number of Rooms :</mat-label>
                          <input matInput type="text" formControlName="numberofrooms" placeholder="Number of Rooms">
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('numberofrooms')?.touched && hotelRegistrationForm.get('numberofrooms')?.errors?.['required']">This is compulsory</mat-error>
                          <mat-error class="mat-error" *ngIf="hotelRegistrationForm.get('numberofrooms')?.errors?.['pattern']">Please enter valid format</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Number of Employees">Number of Employees :</mat-label>
                          <input matInput type="text" formControlName="numberofemployees" placeholder="Number of Employees">
                          <mat-error class="mat-error" for="hotelRegistrationForm.get('numberofemployees')?.touched && hotelRegistrationForm.get('numberofemployees')?.errors?.['required']">This is compulsory</mat-error>
                          <mat-error class="mat-error" for="hotelRegistrationForm.get('numberofemployees')?.errors?.['pattern']">Please enter valid format</mat-error>
                        </mat-form-field>
                      </div>

                      <div class="div">
                        <mat-form-field>
                          <mat-label for="Member of Hotel Association">Member of Hotel Association :</mat-label>
                          <mat-radio-group formControlName="memberofhotelassociation">
                            <mat-radio-button (change)="toggleShow()" value="Yes"><span class="span">Yes</span></mat-radio-button>
                            <mat-radio-button (change)="toggleHide()" value="No"><span class="span">No</span></mat-radio-button>
                          </mat-radio-group>
                        </mat-form-field>
                      </div>

                      <div class="div" *ngIf="show">
                        <mat-form-field>
                          <mat-label for="Association">Association :</mat-label>
                          <mat-select formControlName="association">
                            <mat-option value="ppp">pp</mat-option>
                            <mat-option value="rr">rr</mat-option>
                            <mat-option value="aa">aa</mat-option>
                            <mat-option value="tt">tt</mat-option>
                            <mat-option value="ii">ii</mat-option>
                            <mat-option value="kk">kk</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>

                      <div class="mat-check">
                        <mat-checkbox formControlName="Accept terms and Conditions"> I am interested in listing my hotel on www.HotelProject.com. I agree to the Terms And Conditions</mat-checkbox>
                      </div>

                      <div class="input">
                        <input type="submit" class="" value="SignUp" [disabled]="!hotelRegistrationForm.valid" (click)="submit()">
                      </div>

                      <div class="a-tag">
                        Want to see all Registered hotels <a routerLink="/hotelDetails">Click</a> here.
                      </div>


















                    </form>

               </div>

           </div>

      </div>





