<body>
  <div>
    <p class="p-cls"> <b> Ownerland works!</b> </p>
  <button mat-raised-button color="primary" routerLink="/home">Back</button>&nbsp;
  <button mat-raised-button color="warn" routerLink="/signIn">Sign In</button>&nbsp;
  <button mat-raised-button color="secondary" routerLink="/signUp" >SignUp</button>&nbsp;
  <button mat-raised-button color="warn" routerLink="/hotelDetails">View Hotels</button>&nbsp;
  <button mat-raised-button color="warn" routerLink="/viewMyHotelList">view My Hotel List</button>
  </div>

</body>


