<body>
  <div>
    <p class="p-cls"> <b><i> Ownerland works!</i></b> </p>
  <button mat-raised-button color="alert" routerLink="/home"><b><b>Back</b></b> </button>&nbsp;
  <button mat-raised-button color="warn" routerLink="/signIn">Sign In</button>&nbsp;
  <button mat-raised-button color="accent" routerLink="/signUp" >SignUp</button>&nbsp;
  <button mat-raised-button color="primary" routerLink="/hotelDetails">View Hotels</button>&nbsp;
  <button mat-raised-button color="accent" routerLink="/viewMyHotelList">view My Hotel List</button>

  </div>

</body>


