<body>

  <p class="p-cls"> <b><i> Ownerland works!</i></b> </p>

  <div>

  <button class="btn1" mat-raised-button color="alert" routerLink="/home"><b><b>Back</b></b> </button>&nbsp;
  <button class="btn2" mat-raised-button color="warn" routerLink="/signIn">Sign In</button>&nbsp;
  <button class="btn3" mat-raised-button color="accent" routerLink="/signUp" >SignUp</button>&nbsp;
  <button class="btn4" mat-raised-button color="primary" (click)="viewAllHotelList()">View Hotels</button>&nbsp;
  <button class="btn5" mat-raised-button color="accent" routerLink="/viewMyHotelList">view My Hotel List</button>

  </div>




