body{
  // background-image: url("~/src/assets/images/ownerland front.jpg");
 
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: pink;

}
.loginform{
  text-align: center;
  margin :auto;
  height: 60%;
  width: 30%;
  position: relative;
  top: 150px;
  background-color:aqua
}
mat-form-field {
  padding: 20px;
  width: 90%;
}
mat-raised-button {
  width: 80%;
}
