body {
  // background-image: url("~/src/assets/images/ownerland front.jpg");

  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;

}

.loginform {
  text-align: center;
  margin: auto;
  height: 60%;
  width: 25%;
  position: relative;
  top: 50px;
  background-color: black;
  border: 4px solid blue;
}

mat-form-field {
  padding: 20px;
  width: 90%;
}

mat-raised-button {
  width: 80%;
}

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  bottom: 100px;
}

.snackBarcss .mat-dialog-container {
  bottom: 100px;
  position: absolute;
}

.custom-snackbar {
  background-color: black;
  color: red;
}


h2 {
  color: black;
  background-color: deeppink;
  border: 4px solid gray;
  background-position-x: center;

}

.btn1:hover {
  color: red;
  background-color: black;
  font-size: larger;
}
