<body>

  <p> <u><b><i>Sign-in works!</i> </b> </u></p>

  <button class="btn1" mat-raised-button color="alert" (click)="back()">Back</button>

  <form class="loginform" [formGroup]="signInform">
    <h2><b>Login</b> </h2>

    <mat-form-field>
      <mat-label>UserName</mat-label>
      <input matInput formControlName="name" class="input" autocomplete="on">
      <mat-error *ngIf="signInform.get('name')?.touched && signInform.get('name')?.errors?.['required']">Name is
        Required</mat-error>
      <mat-error *ngIf="signInform.get('name')?.errors?.['minlength']">minimun 2 charactors Required</mat-error>
      <mat-error *ngIf="signInform.get('name')?.errors?.['pattern']">Please Enter Alphabets Only</mat-error>
      <!-- <mat-card> My Text </mat-card> -->

    </mat-form-field>
    <br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="signInform.get('password')?.touched && signInform.get('password')?.errors?.['required']">Please


        Enter Password</mat-error>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" [disabled]="signInform.invalid" (click)="submit()">Submit</button><br>
    <a routerLink="/signUp">Not Have an Account Click Here</a>
