<body>


  <div class="homepage">


    <nav>

      <button class="btn1" mat-raised-button color="warn" (click)="journey('admin')">
        <marquee behavior="" direction="right">
          <h1> Admin</h1>
        </marquee>
      </button><br>
      <button class="btn2" mat-raised-button color="accent" (click)="journey('owner')">
        <marquee behavior="" direction="left">
          <h1> Owner</h1>
        </marquee>
      </button><br>
      <button class="btn3" mat-raised-button color="primary" (click)="journey('user')">
        <marquee behavior="" direction="right">
          <h1> User</h1>
        </marquee>
      </button>

    </nav>


    <div class="crousal-container">
      <ngb-carousel *ngIf="images" [pauseOnHover]="false">

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="crousal-img" [src]="images" alt="Random first slide" />
          </div>
          <div class="carousel-caption">
            <h3>Plan your Goa trip</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="crousal-img" [src]="images" alt="Random second slide" />
          </div>
          <div class="carousel-caption">
            <h3>Plan your Jammu & Kashmir trip</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>

        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="crousal-img" [src]="images" alt="Random third slide" />
          </div>
          <div class="carousel-caption">
            <h3>Plan your Mumbai trip</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>

