body{
  // background-image: url("~/src/assets/images/Grand-Resort-owner.jpg");
  background-color: violet;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
mat-raised-button{
  background-color: aqua;
}
