// body{
//   background-image: url("~/src/assets/images/Grand-Resort-owner.jpg");
//   height: 100%;
//   width: 100%;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
.p-cls{
  color:black;
}

.btn1:hover{
  color:darkblue;
  background-color:black;
  }

  .btn2:hover{
    color:darkorange;
    background-color:black;
    }
