body{
  // background-image: url("~/src/assets/images/Grand-Resort-owner.jpg");
  background-color: mediumturquoise;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.p-cls{
  color:black;
}




table,th,tr,td{
  border: 1px solid rgb(8, 182, 245);
  background-color: rgb(215, 233, 250);
  color: brown;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  padding: 6px 6px;;

}
.div2 {
  position: relative;
  top:60px;
}
.div{
  margin: auto;
  text-align: center;
  position: relative;
  top:30px;
}
