.btn1:hover {
  color: darkblue;
  background-color: black;
  font-size: larger;
}

.btn2:hover {
  color: rebeccapurple;
  background-color: black;
  font-size: larger;
}

.btn3:hover {
  color: green;
  background-color: black;
  font-size: larger;
}
